DATA_DIRECTORY=sample-data

# Uncomment if you need to override these.
# STUDENT_LIST_FILENAME=student_list.csv
# MARKDOWN_OUTPUT_FILENAME=slides.md

# Uncomment if you need to override these.
# DIVISION_DIRECTORY=divisions
# BABY_PHOTO_DIRECTORY=baby-photos
# SCHOOL_PHOTO_DIRECTORY=school-photos

SLIDESHOW_TITLE="Student Slideshow"
SLIDESHOW_SUBTITLE="Springfield Elementary"
